doctype html

html
  head
  title= htmlWebpackPlugin.options.title
  body
    app= `Loading...${__PLATFORM__} ZSÍR KIRÁLY`

    for chunk in htmlWebpackPlugin.files.chunks
      script(src=`${chunk.entry}` type="text/javascript" async=true)
